<a href="https://colab.research.google.com/github/Viktor-Pr/Analyst-Python/blob/main/%D0%90%D0%BD%D0%B0%D0%BB%D0%B8%D1%82%D0%B8%D0%BA_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Задача 40: Работать с файлом *california_housing_train.csv*, который находится в папке *sample.data*. Определить среднюю стоимость дома, где количество людей от *0 до 500 (population)*

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('sample_data/california_housing_train.csv')

In [ ]:
avg = df[((df['population'] > 0) & (df['population'] < 500))]['median_house_value'].mean()

# Новый раздел

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('sample_data/california_housing_train.csv')

In [ ]:
minimum = df['population'].min()

In [ ]:
max_households_in_min_population = df[(df['population'] == minimum)]['households'].max()

In [ ]:
print(max_households_in_min_population)

4.0

# Новый раздел

In [ ]:
list

In [10]:
import pandas as pd
import numpy as np
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
print(data)
data.head()
data['tmp'] = 1
data.set_index([data.index, 'whoAmI'], inplace=True)
data = data.unstack(level=-1, fill_value = 0).astype(int)
data.columns = data.columns.droplevel()
data.columns.name = None
print(data)

   whoAmI
0   robot
1   robot
2   human
3   human
4   robot
5   human
6   robot
7   robot
8   human
9   robot
10  human
11  human
12  robot
13  human
14  human
15  robot
16  human
17  robot
18  robot
19  human
    human  robot
0       0      1
1       0      1
2       1      0
3       1      0
4       0      1
5       1      0
6       0      1
7       0      1
8       1      0
9       0      1
10      1      0
11      1      0
12      0      1
13      1      0
14      1      0
15      0      1
16      1      0
17      0      1
18      0      1
19      1      0